body{
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #4facfe, #00f2fe);
    color: #333;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container{
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
}

button{
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background: #4facfe;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #00c3ff;
}